<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Streaming</title>
  </head>
  <body>
    <h1>Video Streaming <%= title %></h1>
    <p>Video Path : <%=videoSource %> </p>
    <video width="75%" height="auto">
      <source src="./../source/video/201162-1659336735930.mp4" type="video/mp4" />
    </video>
  </body>
</html>